<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-4.2.xsd
		   http://www.springframework.org/schema/util
		   http://www.springframework.org/schema/util/spring-util-4.2.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
       default-autowire="byType" default-lazy-init="false">

    <util:properties id="jdbcproperties" location="classpath:db_config.properties"/>
    <context:property-placeholder location="classpath:*.properties"/>

    <!-- 导入其他配置文件 -->
    <import resource="spring-servlet.xml"></import>
</beans>